body{
    background: #000000;
    font-family: 'General Sans'; 
}

#banner{
    .banner-h-s{   margin-top: 250px; ; 
        .b-heading
        {
            h1{
                font-family: General Sans;
                    font-weight: 400;
                    font-size: 50px;
                    line-height: 110.00000000000001%;
                    letter-spacing: 0%;
                    color: #FFFFFF;
            }
        }
    }
    .b-h-cta{ margin: 40px 0px 40px 0px; 
        a{
            border: 2px solid #FFF; border-radius: 78.42px; color: #FFF;  font-family: General Sans;
            font-weight: 500;
            font-size: 16px;
            line-height: 160%;
            letter-spacing: 0%;
            text-align: center;
            vertical-align: middle;
            padding: 20px 80px 20px 40px; 
            
 
        }
    }
    
    .banner-trust-prop{ margin-left: -40px; margin-top: 200px; 
        ul{ list-style: none; display: flex; gap: 20px; align-items: center; }
    }
}


#elite-trader{ margin-top: 250px; 
    .e-t-heading{
        h2{
            @include heading-section-h2; 
        }
    }
    .e-t-s-h{
        @include heding-section-sub; 

    }
    
    .et-block{ text-align: center; margin-top: 50px;  
        
        .et-b-img{
            margin-bottom: 20px; 
        }
    
        .et-b-h{
            h3{
                @include block-heading; 
            }
        }
        .et-b-s-h{
            @include block-para; 
            
        }
    
    }
}
 
#trader-stories{ margin-top: 150px; 
    .t-s-h-s{
       @include heding-section-sub;
    }
    .t-s-h{
        h3{
              @include heading-section-h2;
        }
    }
    .t-s-h-s-p{
        p{
           font-family: General Sans;
            font-weight: 400;
            font-size: 20px;
            line-height: 160%;
            letter-spacing: 2%;
            text-align: center;

color: #FFFFFF;

        }
    }
    
    .swipper-block{
        text-align: center; 
        .sw-b-name{
            font-family: Cabinet Grotesk;
            font-weight: 700;
            font-size: 20px;
            line-height: 120%;
            letter-spacing: 1px;
            text-align: center;
            color: #FFFFFF;
              margin-top: 20px; 

        }
        .sw-b-payout{
            font-family: General Sans;
            font-weight: 400;
            font-size: 30px;
            line-height: 130%;
            letter-spacing: 0%;
            text-align: center;
            vertical-align: middle;
            color: #FFFFFF;
            margin-top: 10px; 
        }
        
    }
    
    
}
